<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="5px">
            <th>pkno</th>
            <th>Name</th>
            <th>Date</th>
            <th>Author</th>
         {% for wo in access %}
          <tr>
            <td>{{ wo.pk }}</td>
            <td>{{ Wo.name }}</td>
            <td>{{ Wo.date }}</td>
            <td>{{ Wo.Author }}</td>

          </tr>
         {% endfor %} 
        </table>


    </center>
</body>
</html>